<!-- account_faculty.html -->
{% extends "layout.html" %}

{% block content %}
<style>
    .my-main-section-account, .my-table-section {
        display: inline-block;
        vertical-align: top;
    }
</style>
<div class="my-main-section-account">
    <div class="media">
        <img class="rounded-circle account-img" src={{ image_file }}>
        <div class="media-body">
            <h2 class="account-heading">{{ current_user.username }}</h2>
            <p class="text-secondary">{{ current_user.email }}</p>
        </div>
    </div>
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="my-form-group" style="float:left">
            <legend class="my-border-bottom ">Account Info</legend>
            <div class="my-form-group">
                {{ form.username.label(class="my-form-control-label") }}
                {% if form.username.errors %}
                    {{ form.username(class="my-form-control my-form-control-lg is-invalid my-text-box") }}
                    <div class="my-invalid-feedback">
                        {% for error in form.username.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.username(class="my-form-control my-form-control-lg my-text-box") }}
                {% endif %}
            </div>
            <div class="my-form-group">
                {{ form.email.label(class="my-form-control-label") }}
                {% if form.email.errors %}
                    {{ form.email(class="my-form-control my-form-control-lg is-invalid my-text-box") }}
                    <div class="my-invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="my-form-control my-form-control-lg my-text-box") }}
                {% endif %}
            </div>
            <div class="my-form-group">
                {{ form.picture.label() }}
                {{ form.picture(class="my-form-control-file") }}
                {% if form.picture.errors %}
                    {% for error in form.picture.errors %}
                        <span class="text-danger">{{ error }}</span><br>
                    {% endfor %}
                {% endif %}
            </div>
            {% if current_user.is_faculty %}
            <!-- Specific faculty details -->
            <div class="my-form-group">
                {{ form.name.label(class="my-form-control-label") }}
                {% if form.name.errors %}
                    {{ form.name(class="my-form-control my-form-control-lg is-invalid my-text-box") }}
                    <div class="my-invalid-feedback">
                        {% for error in form.name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.name(class="my-form-control my-form-control-lg my-text-box") }}
                {% endif %}
            </div>
            <div class="my-form-group">
                {{ form.designation.label(class="my-form-control-label") }}
                {% if form.designation.errors %}
                    {{ form.designation(class="my-form-control my-form-control-lg is-invalid my-text-box") }}
                    <div class="my-invalid-feedback">
                        {% for error in form.designation.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.designation(class="my-form-control my-form-control-lg my-text-box") }}
                {% endif %}
            </div>
            <div class="my-form-group">
                {{ form.school.label(class="my-form-control-label") }}
                {% if form.school.errors %}
                    {{ form.school(class="my-form-control my-form-control-lg is-invalid my-text-box") }}
                    <div class="my-invalid-feedback">
                        {% for error in form.school.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.school(class="my-form-control my-form-control-lg my-text-box") }}
                {% endif %}
            </div>
            <div class="my-form-group">
                {{ form.cabin.label(class="my-form-control-label") }}
                {% if form.cabin.errors %}
                    {{ form.cabin(class="my-form-control my-form-control-lg is-invalid my-text-box") }}
                    <div class="my-invalid-feedback">
                        {% for error in form.cabin.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.cabin(class="my-form-control my-form-control-lg my-text-box") }}
                {% endif %}
            </div>
            {% endif %}
            <div class="my-form-group">
                {{ form.submit(class="my-btn my-btn-outline-info") }}
            </div>
        </fieldset>
    </form>
</div>
{% endblock content %}
