{% extends "layout.html" %}
{% block content %}
<br>
<div class="row">
    <div class="col-md-8">
        <h2>Faculty Availability Information</h2>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-9">
        <form id="searchForm" class="form-inline">
            <div class="form-group mr-2">
                <label for="searchName" class="mr-2">Search by Faculty Name</label>
                <input type="text" class="form-control mr-2" id="searchName" placeholder="Enter Name">
            </div>
            <button type="submit" class="btn btn-primary" id="searchButton">Search</button>
        </form>
    </div>
</div>

<div class="row" id="facultyTableContainer" style="display: none;">
    <div class="col-md-9">
        <div id="facultyDetails" style="margin-top: 20px;">
            <table class='table'>
                <thead>
                    <tr>
                        <th>Name of Faculty</th>
                        <th>Designation</th>
                        <th>School</th>
                        <th>Cabin Number</th>
                        <th>Availability</th>
                        <th>Remarks</th>
                    </tr>
                </thead>
                <tbody id="facultyTableBody">
                    <!-- Table body will be dynamically populated -->
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="remarksModal" tabindex="-1" aria-labelledby="remarksModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="remarksModalLabel">Faculty Remarks</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="remarksContent"></p>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById("searchForm").addEventListener("submit", function(event){
        event.preventDefault();
        var searchName = document.getElementById("searchName").value;
        fetch('/search_faculty?name=' + searchName)
            .then(response => response.json())
            .then(data => {
                var facultyTableBody = document.getElementById("facultyTableBody");
                facultyTableBody.innerHTML = ""; // Clear existing rows
                data.forEach(function(faculty){
                    var row = "<tr><td>" + faculty.name + "</td><td>" + faculty.designation + "</td><td>" + faculty.school + "</td><td>" + faculty.cabin + "</td><td>" + faculty.availability + "</td><td><button class='btn btn-info btn-sm' onclick='showRemarks(\"" + faculty.remark + "\")'><span>&#128065;</span></button></td></tr>";
                    facultyTableBody.innerHTML += row;
                });
                document.getElementById("facultyTableContainer").style.display = "block"; // Show table
            })
            .catch(error => console.error('Error:', error));
    });

    function showRemarks(remarks) {
        document.getElementById("remarksContent").innerText = remarks;
        $('#remarksModal').modal('show');
    }
</script>
{% endblock content %}
